[submodule "decals-web-aws/decals-web"]
	path = decals-web-aws/decals-web
	url = https://github.com/legacysurvey/decals-web.git
[submodule "decals-web-aws/tractor"]
	path = decals-web-aws/tractor
	url = https://github.com/ziyaointl/tractor.git
[submodule "decals-web-aws/legacypipe"]
	path = decals-web-aws/legacypipe
	url = https://github.com/legacysurvey/legacypipe
[submodule "decals-web-spin/decals-web"]
        path = decals-web-spin/decals-web
        url = https://github.com/legacysurvey/decals-web.git
[submodule "decals-web-spin/tractor"]
        path = decals-web-aws/tractor
        url = https://github.com/ziyaointl/tractor.git
[submodule "decals-web-spin/legacypipe"]
        path = decals-web-aws/legacypipe
        url = https://github.com/legacysurvey/legacypipe
